---
interface Props {
  title: string;
  urlProject?: string;
  urlGithub?: string;
  description: string;
  photo: string;
  tags: string[];
  slug: string;
}

const { title, tags, urlProject, urlGithub, description, photo, slug } =
  Astro.props;
---

<article
  class="bg-pii-gray-bg hover:cursor-pointer rounded-md flex-1 my-3 transform hover:scale-105 duration-300 ease-in-out"
>
  <a href={`/projects/${slug}`}>
    <div class="p-5">
      <img class="h-40 w-full rounded-md" src={photo} alt={title} transition:name={"img-project-" + slug} transition:animate="slide" /> <!-- object-cover -->

      <h3 class="text-pii-gray mt-3 text-xl">
        {title}
      </h3>

      <p class="mt-5 block text-xs truncate text-pii-gray">
        {description}
      </p>

      <div class="mt-4 flex flex-wrap gap-1">
        {
          tags.map((tag) => (
            <span class="rounded-full bg-pii-green px-2.5 py-0.5 text-xs text-pii-black">
              {tag}
            </span>
          ))
        }
      </div>
    </div>
  </a>
</article>
